
<h3 style="margin-bottom:0px;padding-top:10px;">
Technical publications: <A HREF="#conferences">Conferences</A>,&nbsp;&nbsp;<A HREF="#journals">Journals</A>
Musicology publications: <A HREF="#booksMusic">Books</A>
</h3>

<br><br>
<A NAME="conferences">
<h3 style="margin-bottom:0px;padding-top:10px;">Conferences</h3>

<ul class="biblist">

<!-- ICME 2016 -->
<li ><p>
E. Barsoum, C. Zhang, C. Canton Ferrer, Z. Zhang
<br><b>Training Deep Networks for Facial Expression Recognition with Crowd-Sourced Label Distribution</b><br>
<i>ACM International Conference on Multimodal Interaction (ICMI)</i>,
2016.<br />
<a href="javascript:toggleBibtex('BarsoumICME2016')">[BibTeX]</a>
<a href="https://arxiv.org/abs/1608.01041" target="_blank">[PDF]</a> 
</p>
<div id="bib_BarsoumICME2016" class="bibtex noshow">
<pre>@article{BarsoumICME2016,
  author  = {Emad Barsoum and Cha Zhang and Cristian Canton Ferrer and Zhengyou Zhang},
  title   = {Training Deep Networks for Facial Expression Recognition with Crowd-Sourced Label Distribution},
  journal = {ACM International Conference on Multimodal Interaction (ICMI)},
  year = {2016}
}</pre>
</div>
</li>

<!-- CVPR 2016 -->
<li ><p>
L. Leal-Taix&eacute;, C. Canton Ferrer, K. Schindler
<br><b>Learning by Tracking: Siamese CNN for Robust Target Association</b><br>
<i>Computer Vision and Pattern Recognition Conference (CVPR). DeepVision Workshop</i>,
2016.<br />
<a href="javascript:toggleBibtex('LealCVPR2016')">[BibTeX]</a>
<a href="https://arxiv.org/abs/1604.07866" target="_blank">[PDF]</a>
<a href="https://drive.google.com/open?id=0B5fAXmGH22uZeVFWVHZZWTBJQlU" target="_blank">[Poster]</a>
<a href="https://motchallenge.net/tracker/SiameseCNN" target="_blank">[Results]</a> 
</p>
<div id="bib_LealCVPR2016" class="bibtex noshow">
<pre>@article{LealCVPR2016,
  author  = {Laura Leal-Taix&eacute; and Cristian Canton Ferrer and Konrad Schindler},
  title   = {Learning by Tracking: Siamese CNN for Robust Target Association},
  journal = {Computer Vision and Pattern Recognition Conference (CVPR). DeepVision Workshop.},
  year = {2016}
}</pre>
</div>
</li>

<!-- EUSIPCO 2010 -->
<li ><p>
A. L&oacute;pez, C. Canton Ferrer, J. R. Casas
<br><b>Virtual View Appearance Representation for Human Motion Analysis in Multi-View Environments</b><br>
<i>European Signal Processing Conference (EUSIPCO)</i>,
2010.<br />
<a href="javascript:toggleBibtex('LopezEUSIPCO2010')">[BibTeX]</a>
<a href="https://drive.google.com/open?id=0B5fAXmGH22uZRldFVkkzenpHSzQ" target="_blank">[PDF]</a> 
</p>
<div id="bib_LopezEUSIPCO2010" class="bibtex noshow">
<pre>@article{LopezEUSIPCO2010,
  author  = {Adolfo L&oacute;pez and Cristian Canton Ferrer and Josep R. Casas},
  title   = {Virtual View Appearance Representation for Human Motion Analysis in Multi-View Environments},
  journal = {European Signal Processing Conference (EUSIPCO)},
  year = {2010}
}</pre>
</div>
</li>

<!-- CVPR 2010 Biometrics -->
<li ><p>
C. Canton Ferrer, J.R. Casas, M. Pard&agrave;s
<br><b>Spatio-Temporal Alignment and Hyperspherical Radon Transform for 3D Gait Recognition in Multi-View Environments</b><br>
<i>IEEE International Computer Vision and Pattern Recognition Conference (CVPR). Biometrics Workshop</i>,
2010.<br />
<a href="javascript:toggleBibtex('CantonCVPR2010Biometrics')">[BibTeX]</a>
<a href="https://drive.google.com/open?id=0B5fAXmGH22uZdHBCNnEycXdMU1E" target="_blank">[PDF]</a> 
</p>
<div id="bib_CantonCVPR2010Biometrics" class="bibtex noshow">
<pre>@article{CantonCVPR2010Biometrics,
  author  = {Cristian Canton Ferrer and Josep R. Casas and Montse Pard&agrave;s},
  title   = {Spatio-Temporal Alignment and Hyperspherical Radon Transform for 3D Gait Recognition in Multi-View Environments},
  journal = {IEEE International Computer Vision and Pattern Recognition Conference (CVPR). Biometrics Workshop.},
  year = {2010}
}</pre>
</div>
</li>

<!-- CVPR 2010 Gaming -->
<li ><p>
C. Canton Ferrer, J.R. Casas, M. Pard&agrave;s
<br><b>Real-Time 3D Multi-Person Tracking Using Monte Carlo Surface Sampling</b><br>
<i>IEEE International Computer Vision and Pattern Recognition Conference (CVPR). Computer Vision for Games Workshop</i>,
2010.<br />
<a href="javascript:toggleBibtex('CantonCVPR2010ComputerGames')">[BibTeX]</a>
<a href="https://drive.google.com/open?id=0B5fAXmGH22uZZl9rODdBX3pHVlU" target="_blank">[PDF]</a> 
</p>
<div id="bib_CantonCVPR2010ComputerGames" class="bibtex noshow">
<pre>@article{CantonCVPR2010ComputerGames,
  author  = {Cristian Canton Ferrer and Josep R. Casas and Montse Pard&agrave;s},
  title   = {Real-Time 3D Multi-Person Tracking Using Monte Carlo Surface Sampling},
  journal = {IEEE International Computer Vision and Pattern Recognition Conference (CVPR). Computer Vision for Games Workshop.},
  year = {2010}
}</pre>
</div>
</li>

<!-- ICIP 2009 -->
<li ><p>
C. Canton Ferrer, J.R. Casas, M. Pard&agrave;s
<br><b>Towards a Low Cost Multi-Camera Marker Based Human Motion Capture System</b><br>
<i>IEEE International Conference on Image Processing (ICIP)</i>,
2009.<br />
<a href="javascript:toggleBibtex('CantonICIP2009')">[BibTeX]</a>
<a href="https://drive.google.com/open?id=0B5fAXmGH22uZWFQ2NmRzdkhNbGs" target="_blank">[PDF]</a> 
<a href="https://drive.google.com/open?id=0B5fAXmGH22uZVGZBQ1c0cDRqTzA" target="_blank">[Poster]</a>
</p>
<div id="bib_CantonICIP2009" class="bibtex noshow">
<pre>@article{CantonICIP2009,
  author  = {Cristian Canton Ferrer and Josep R. Casas and Montse Pard&agrave;s},
  title   = {Towards a Low Cost Multi-Camera Marker Based Human Motion Capture System},
  journal = {IEEE International Conference on Image Processing (ICIP)},
  year = {2009}
}</pre>
</div>
</li>

<!-- Interspeech 2009 -->
<li ><p>
T. Butko, C. Canton Ferrer, C. Segura, X. Gir&oacute;-i-Nieto, C. Nadeu, J. Hernando, J.R. Casas
<br><b>Improving Detection of Acoustic Events Using Audiovisual Data and Feature Level Fusion</b><br>
<i>Interspeech</i>,
2009.<br />
<a href="javascript:toggleBibtex('ButkoInterspeech2009')">[BibTeX]</a>
<a href="https://drive.google.com/open?id=0B5fAXmGH22uZLWVuVlRlLU16Unc" target="_blank">[PDF]</a> 
</p>
<div id="bib_ButkoInterspeech2009" class="bibtex noshow">
<pre>@article{ButkoInterspeech2009,
  author  = {Taras Butko and Cristian Canton Ferrer and Carlos Segura and Xavier Gir&oacute;-i-Nieto and Climent Nadeu and Javier Hernando and Josep R. Casas},
  title   = {Improving Detection of Acoustic Events Using Audiovisual Data and Feature Level Fusion},
  journal = {Interspeech},
  year = {2009}
}</pre>
</div>
</li>

<!-- CVPR 2009 -->
<li ><p>
C. Canton Ferrer, T. Butko, C. Segura, X. Gir&oacute;-i-Nieto, C. Nadeu, J. Hernando, J.R. Casas
<br><b>Multimodal Acoustic Event Detection Towards Scene Understanding</b><br>
<i>IEEE International Conference on Computer Vision and Pattern Recognition (CVPR). Human Communicative Behavior Analysis Workshop</i>,
2009.<br />
<a href="javascript:toggleBibtex('CantonCVPR2009')">[BibTeX]</a>
<a href="https://drive.google.com/open?id=0B5fAXmGH22uZYUFNeXhYYWljWDA" target="_blank">[PDF]</a>
<a href="https://drive.google.com/open?id=0B5fAXmGH22uZWU1oMzBqQnh0LWs" target="_blank">[Poster]</a>
</p>
<div id="bib_CantonCVPR2009" class="bibtex noshow">
<pre>@article{CantonCVPR2009,
  author  = {Cristian Canton Ferrer and Taras Butko and Carlos Segura and X. Gir&oacute;-i-Nieto and Climent Nadeu and Javier Hernando and Josep R. Casas},
  title   = {Multimodal Acoustic Event Detection Towards Scene Understanding},
  journal = {IEEE International Conference on Computer Vision and Pattern Recognition (CVPR). Human Communicative Behavior Analysis Workshop},
  year = {2009}
}</pre>
</div>
</li>

<!-- 3DTV 2009 -->
<li ><p>
C. Canton Ferrer, J.R. Casas, M. Pard&agrave;s
<br><b>Voxel based Annealed Particle Filtering for Markerless 3D Articulated Motion Capture</b><br>
<i>IEEE Conference on 3DTV</i>,
2009.<br />
<a href="javascript:toggleBibtex('Canton3DTV2009')">[BibTeX]</a>
<a href="https://drive.google.com/open?id=0B5fAXmGH22uZbjBNYmdQek9LLWs" target="_blank">[PDF]</a> 
</p>
<div id="bib_Canton3DTV2009" class="bibtex noshow">
<pre>@article{Canton3DTV2009,
  author  = {Cristian Canton Ferrer and Josep R. Casas and Montse Pard&agrave;s},
  title   = {Voxel based Annealed Particle Filtering for Markerless 3D Articulated Motion Capture},
  journal = {IEEE Conference on 3DTV},
  year = {2009}
}</pre>
</div>
</li>

<!-- ICIP 2008 -->
<li ><p>
C. Canton Ferrer, R. Sblendido, J.R. Casas, M. Pard&agrave;s<br>
<b>Particle Filtering and Sparse Sampling for Multi-Person 3D Tracking</b><br>
<i>IEEE International Conference on Image Processing (ICIP)</i>,
2009.<br />
<a href="javascript:toggleBibtex('CantonICIP2008')">[BibTeX]</a>
<a href="https://drive.google.com/open?id=0B5fAXmGH22uZZXJnMmlCWjdIbGc" target="_blank">[PDF]</a>
<a href="https://drive.google.com/open?id=0B5fAXmGH22uZMWxTVnVBcXhOQm8" target="_blank">[Poster]</a> 
</p>
<div id="bib_CantonICIP2008" class="bibtex noshow">
<pre>@article{CantonICIP2008,
  author  = {C. Canton Ferrer, R. Sblendido, J.R. Casas, M. Pard&agrave;s},
  title   = {Particle Filtering and Sparse Sampling for Multi-Person 3D Tracking},
  journal = {IEEE International Conference on Image Processing (ICIP)},
  year = {2008}
}</pre>
</div>
</li>

<!-- Interspeech 2008 -->
<li ><p>
T. Butko, A. Temko, C. Nadeu, C. Canton Ferrer<br>
<b>Fusion of Audio and Video Modalities for Detection of Acoustic Events</b><br>
<i>Interspeech</i>,
2008.<br />
<a href="javascript:toggleBibtex('ButkoInterspeech2008')">[BibTeX]</a>
<a href="https://drive.google.com/open?id=0B5fAXmGH22uZUWczdlZMWjBJY1E" target="_blank">[PDF]</a>
</p>
<div id="bib_ButkoInterspeech2008" class="bibtex noshow">
<pre>@article{ButkoInterspeech2008,
  author  = {Taras Butko and Andrey Temko and Climent Nadeu and Cristian Canton Ferrer},
  title   = {Fusion of Audio and Video Modalities for Detection of Acoustic Events},
  journal = {Interspeech},
  year = {2008}
}</pre>
</div>
</li>

<!-- MLMI 2008 -->
<li ><p>
T. Butko, A. Temko, C. Nadeu, C. Canton Ferrer<br>
<b>Inclusion of Video Information for Detection of Acoustic Events using Fuzzy Integral</b><br>
<i>Workshop on Machine Learning and Multimodal Interaction (MLMI)</i>,
2008.<br />
<a href="javascript:toggleBibtex('ButkoMLMI2008')">[BibTeX]</a>
<a href="https://drive.google.com/open?id=0B5fAXmGH22uZWHlJTzB0Tlpjb1E" target="_blank">[PDF]</a>
</p>
<div id="bib_ButkoMLMI2008" class="bibtex noshow">
<pre>@InProceedings{ButkoMLMI2008,
  author  = {Taras Butko and Andrey Temko and Climent Nadeu and Cristian Canton Ferrer},
  title   = {Inclusion of Video Information for Detection of Acoustic Events using Fuzzy Integral},
  booktitle = {Workshop on Machine Learning and Multimodal Interaction (MLMI)},
  publisher = {Springer},
  series    = {Lecture Notes in Artificial Intelligence},
  volume    = {5237},
  year      = {2008},
  pages     = {74--85}
}</pre>
</div>
</li>

<!-- AMDO 2008  -->
<li ><p>
C. Canton Ferrer, J.R. Casas, M. Pard&agrave;s
<br><b>Exploiting Structural Hierarchy in Articulated Objects towards Robust Motion Capture</b><br>
<i>Conference on Articulated Motion and Deformable Objects (AMDO)</i>,
2008.<br />
<a href="javascript:toggleBibtex('CantonAMDO2008')">[BibTeX]</a>
<a href="https://drive.google.com/open?id=0B5fAXmGH22uZa3puazNaaEFYMlE" target="_blank">[PDF]</a> 
</p>
<div id="bib_CantonAMDO2008" class="bibtex noshow">
<pre>@InProceedings{CantonAMDO2008,
  author  = {Cristian Canton Ferrer and Josep R. Casas and Montse Pard&agrave;s},
  title   = {Exploiting Structural Hierarchy in Articulated Objects towards Robust Motion Capture},
  booktitle = {Conference on Articulated Motion and Deformable Objects (AMDO)},
  publisher = {Springer},
  series    = {Lecture Notes in Artificial Intelligence},
  volume    = {5098},
  year      = {2008},
  pages     = {82--91}
}</pre>
</div>
</li>

<!-- CVPR 2008  -->
<li ><p>
C. Canton Ferrer, C. Segura, M. Pard&agrave;s, J.R. Casas, J. Hernando
<br><b>Multimodal Real-Time Focus of Attention Estimation in SmartRooms</b><br>
<i>IEEE International Conference on Computer Vision and Pattern Recognition (CVPR). Human Communicative Behavior Analysis Workshop</i>,
2008.<br />
<a href="javascript:toggleBibtex('CantonCVPR2008')">[BibTeX]</a>
<a href="https://drive.google.com/open?id=0B5fAXmGH22uZZEFRTmxHMnhGVnM" target="_blank">[PDF]</a>
<a href="https://drive.google.com/open?id=0B5fAXmGH22uZRjZMM2NQZzM2Vk0" target="_blank">[Poster]</a> 
</p>
<div id="bib_CantonCVPR2008" class="bibtex noshow">
<pre>@article{CantonCVPR2008,
  author  = {Cristian Canton Ferrer and Carlos Segura and Montse Pard&agrave;s and Josep R. Casas and Javier Hernando},
  title   = {Multimodal Real-Time Focus of Attention Estimation in SmartRooms},
  journal = {IEEE International Conference on Computer Vision and Pattern Recognition (CVPR). Human Communicative Behavior Analysis Workshop},
  year = {2008}
}</pre>
</div>
</li>

<!-- ICASSP 2008  -->
<li ><p>
F. Ofli, C. Canton Ferrer, J. Tilmanne, Y. Demir, E. Bozkurt, Y. Yemez, E. Erzin, A. M. Tekalp
<br><b>Audio-Driven Human Body Motion Analysis and Synthesis</b><br>
<i>IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP)</i>,
2008.<br />
<a href="javascript:toggleBibtex('CantonICASSP2008')">[BibTeX]</a>
<a href="https://drive.google.com/open?id=0B5fAXmGH22uZWThIZV8zVm93UmM" target="_blank">[PDF]</a>
</p>
<div id="bib_CantonICASSP2008" class="bibtex noshow">
<pre>@article{CantonICASSP2008,
  author  = {Ferda Ofli and Cristian Canton Ferrer and Joelle Tilmanne and Yasemir Demir and Elif Bozkurt and Yucel Yemez and Engin Erzin and Ahmet Murat Tekalp},
  title   = {Audio-Driven Human Body Motion Analysis and Synthesis},
  journal = {IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP)},
  year = {2008}
}</pre>
</div>
</li>

<!-- ICASSP 2008  -->
<li ><p>
F. Ofli, Y. Demir, C. Canton Ferrer, J. Tilmanne, K. Balci, E. Bozkurt, I. Kizoglu, Y. Yemez, <br>
E. Erzin, A. M. Tekalp, L. Akarun, T.A. Erdem
<br><b>Analysis and synthesis of multiview audio-visual dance figures</b><br>
<i>IEEE Signal Processing, Communication and Applications Conference</i>,
2008.<br />
<a href="javascript:toggleBibtex('CantonISPCAC2008')">[BibTeX]</a>
<a href="http://dx.doi.org/10.1109/SIU.2008.4632725" target="_blank">[PDF]</a>
</p>
<div id="bib_CantonISPCAC2008" class="bibtex noshow">
<pre>@article{CantonISPCAC2008,
  author  = {Ferda Ofli and Yasemin Demir and Cristian Canton Ferrer and Joelle Tilmanne and Korai Balci and Elif Bozkurt and I. Kizoglu and Yucel Yemez and Engin Erzin and Ahmet Murat Tekalp and Lale Akarun and T.A. Erdem},
  title   = {Analysis and synthesis of multiview audio-visual dance figures},
  journal = {IEEE Signal Processing, Communication and Applications Conference},
  year = {2008}
}</pre>
</div>
</li>

<!-- CIVR 2007 Biometrics -->
<li ><p>
I. Petr&aacute;s, L. Kov&aacute;cs, B. Toreyin, C. Beleznai, Z. Szlavik, U. Gudukbay, Y. Dedeoglu, L. Havasi,<br>
E. Cetin, M. Pard&agrave;s, T. Sziranyi, C. Canton Ferrer
<br><b>Flexible Test-bed for Unusual Behavior Detection</b><br>
<i>ACM International Conference on Image and Video Retrieval (CIVR)</i>,
2007.<br />
<a href="javascript:toggleBibtex('CantonCIVR2007')">[BibTeX]</a>
<a href="https://drive.google.com/open?id=0B5fAXmGH22uZTW54ZUpQNVozcDA" target="_blank">[PDF]</a> 
</p>
<div id="bib_CantonCIVR2007" class="bibtex noshow">
<pre>@article{CantonCIVR2007,
  author  = {I. Petr&aacute;s and L. Kov&aacute;cs and B. Toreyin and C. Beleznai and Z. Szlavik and U. Gudukbay and Y. Dedeoglu and L. Havasi and E. Cetin and M. Pard&agrave;s and T. Sziranyi and C. Canton Ferrer},
  title   = {Flexible Test-bed for Unusual Behavior Detection},
  journal = {ACM International Conference on Image and Video Retrieval (CIVR)},
  year = {2007}
}</pre>
</div>
</li>

<!-- CLEAR 2007 Head  -->
<li ><p>
C. Canton Ferrer, J.R. Casas, M. Pard&agrave;s
<br><b>Head Orientation Estimation using Particle Filtering in Multiview Scenarios</b><br>
<i>Classification of Events, Activities and Relationships Evaluation and Workshop (CLEAR)</i>,
2007.<br />
<a href="javascript:toggleBibtex('CantonCLEAR2007Head')">[BibTeX]</a>
<a href="https://drive.google.com/open?id=0B5fAXmGH22uZX1hMNjMxNXpzd3M" target="_blank">[PDF]</a> 
</p>
<div id="bib_CantonCLEAR2007Head" class="bibtex noshow">
<pre>@InProceedings{CantonCLEAR2007Head,
  author  = {Cristian Canton Ferrer and Josep R. Casas and Montse Pard&agrave;s},
  title   = {Head Orientation Estimation using Particle Filtering in Multiview Scenarios},
  booktitle = {Classification of Events, Activities and Relationships Evaluation and Workshop (CLEAR)},
  publisher = {Springer},
  series    = {Lecture Notes on Computer Science},
  volume    = {4625},
  year      = {2007},
  pages     = {317--327}
}</pre>
</div>
</li>

<!-- CLEAR 2007 Tracking  -->
<li ><p>
C. Canton Ferrer, J. Salvador, J.R. Casas
<br><b>Multi-Person Tracking Strategies Based on Voxel Analysis</b><br>
<i>Classification of Events, Activities and Relationships Evaluation and Workshop (CLEAR)</i>,
2007.<br />
<a href="javascript:toggleBibtex('CantonCLEAR2007Tracking')">[BibTeX]</a>
<a href="https://drive.google.com/open?id=0B5fAXmGH22uZN0hJbXhlS25Bajg" target="_blank">[PDF]</a> 
</p>
<div id="bib_CantonCLEAR2007Tracking" class="bibtex noshow">
<pre>@InProceedings{CantonCLEAR2007Tracking,
  author  = {Cristian Canton Ferrer and Jordi Salvador and Josep R. Casas},
  title   = {Multi-Person Tracking Strategies Based on Voxel Analysis},
  booktitle = {Classification of Events, Activities and Relationships Evaluation and Workshop (CLEAR)},
  publisher = {Springer},
  series    = {Lecture Notes on Computer Science},
  volume    = {4625},
  year      = {2007},
  pages     = {91--103}
}</pre>
</div>
</li>

<!-- ICASSP 2007 Tracking  -->
<li ><p>
A. L&oacute;pez, C. Canton Ferrer, J. R. Casas
<br><b>Multi-Person 3D Tracking with Particle Filters on Voxels</b><br>
<i>IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP)</i>,
2007.<br />
<a href="javascript:toggleBibtex('CantonICASSP2007Tracking')">[BibTeX]</a>
<a href="https://drive.google.com/open?id=0B5fAXmGH22uZVnNobEt2TlQySjg" target="_blank">[PDF]</a> 
</p>
<div id="bib_CantonICASSP2007Tracking" class="bibtex noshow">
<pre>@article{CantonICASSP2007Tracking,
  author  = {Adolfo L&oacute;pez and Cristian Canton Ferrer and Josep R. Casas},
  title   = {Multi-Person 3D Tracking with Particle Filters on Voxels},
  journal = {IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP)},
  year      = {2007},
}</pre>
</div>
</li>

<!-- ICASSP 2007 Head  -->
<li ><p>
C. Segura, C. Canton Ferrer, A. Abad, J.R. Casas, J. Hernando
<br><b>Multimodal Head Orientation Towards Attention Tracking in SmartRooms</b><br>
<i>IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP)</i>,
2007.<br />
<a href="javascript:toggleBibtex('CantonICASSP2007Head')">[BibTeX]</a>
<a href="https://drive.google.com/open?id=0B5fAXmGH22uZZTRxdVBwRmNBUEU" target="_blank">[PDF]</a> 
</p>
<div id="bib_CantonICASSP2007Head" class="bibtex noshow">
<pre>@article{CantonICASSP2007Head,
  author  = {Carlos Segura and Cristian Canton Ferrer and Alberto Abad and Josep R. Casas and Javier Hernando},
  title   = {Multimodal Head Orientation Towards Attention Tracking in SmartRooms},
  journal = {IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP)},
  year      = {2007},
}</pre>
</div>
</li>

<!-- EUSIPCO 2006 -->
<li ><p>
C. Canton Ferrer, J.R. Casas, M. Pard&agrave;s
<br><b>Human Model and Motion Based 3D Action Recognition in Multiple View Scenarios</b><br>
<i>European Signal Processing Conference (EUSIPCO)</i>,
2006.<br />
<a href="javascript:toggleBibtex('CantonEUSIPCO2006')">[BibTeX]</a>
<a href="https://drive.google.com/open?id=0B5fAXmGH22uZUTh5VVN5bkpCSm8" target="_blank">[PDF]</a> 
<a href="https://drive.google.com/open?id=0B5fAXmGH22uZa0ZLR3lYWUNKS0E" target="_blank">[Slides]</a>
</p>
<div id="bib_CantonEUSIPCO2006" class="bibtex noshow">
<pre>@article{CantonEUSIPCO2006,
  author  = {Cristian Canton Ferrer and Josep R. Casas and Montse Pard&agrave;s},
  title   = {Human Model and Motion Based 3D Action Recognition in Multiple View Scenarios},
  journal = {European Signal Processing Conference (EUSIPCO)},
  year = {2006}
}</pre>
</div>
</li>
</ul  >

<A NAME="journals">
<h3 style="margin-bottom:0px;padding-top:10px;">Journals</h3>

<ul class="biblist">

<!-- JASP 2011 -->
<li ><p>
C. Canton Ferrer, J.R. Casas, M. Pard&agrave;s, E. Monte
<br><b>Multi-Camera Multi-Object Voxel Based Monte Carlo 3D Tracking Strategies</b><br>
<i>EURASIP Journal on Advances on Signal Processing</i>,
2011.<br />
<a href="javascript:toggleBibtex('CantonJASP2011Tracking')">[BibTeX]</a>
<a href="https://drive.google.com/open?id=0B5fAXmGH22uZQWJvSmNVdEU3MjA" target="_blank">[PDF]</a> 
</p>
<div id="bib_CantonJASP2011Tracking" class="bibtex noshow">
<pre>@article{CantonJASP2011Tracking,
  author  = {Cristian Canton Ferrer and Josep R. Casas and Montse Pard&agrave;s and Enric Monte},
  title   = {Multi-Camera Multi-Object Voxel Based Monte Carlo 3D Tracking Strategies},
  journal = {EURASIP Journal on Advances on Signal Processing},
  year = {2011}
}</pre>
</div>
</li>

<!-- CVIU 2011 -->
<li ><p>
C. Canton Ferrer, J.R. Casas, M. Pard&agrave;s
<br><b>Human Motion Capture Using Scalable Body Models</b><br>
<i>Computer Vision and Image Understanding (CVIU)</i>,
2011.<br />
<a href="javascript:toggleBibtex('CantonCVIU2011')">[BibTeX]</a>
<a href="https://drive.google.com/open?id=0B5fAXmGH22uZU1Q1a0NkZnBZLVE" target="_blank">[PDF]</a> 
</p>
<div id="bib_CantonCVIU2011" class="bibtex noshow">
<pre>@article{CantonCVIU2011,
  author  = {Cristian Canton Ferrer and Josep R. Casas and Montse Pard&agrave;s},
  title   = {Human Motion Capture Using Scalable Body Models},
  journal = {Computer Vision and Image Understanding (CVIU)},
  year = {2011}
}</pre>
</div>
</li>

<!-- JASP 2011 -->
<li ><p>
T. Butko, C. Canton Ferrer, C. Segura, X. Gir&oacute;-i-Nieto, C. Nadeu, J. Hernando, J.R. Casas
<br><b>Acoustic Event Detection based on Feature-Level Fusion of Audio and Video Modalities</b><br>
<i>EURASIP Journal on Advances on Signal Processing</i>,
2011.<br />
<a href="javascript:toggleBibtex('ButkoJASP2011')">[BibTeX]</a>
<a href="https://drive.google.com/open?id=0B5fAXmGH22uZelUzdThYMm9Mak0" target="_blank">[PDF]</a> 
</p>
<div id="bib_ButkoJASP2011" class="bibtex noshow">
<pre>@article{ButkoJASP2011,
  author  = {T. Butko, C. Canton Ferrer, C. Segura, X. Gir&oacute;-i-Nieto, C. Nadeu, J. Hernando, J.R. Casas},
  title   = {Acoustic Event Detection based on Feature-Level Fusion of Audio and Video Modalities},
  journal = {EURASIP Journal on Advances on Signal Processing},
  year = {2011}
}</pre>
</div>
</li>

<!-- JASP 2010 -->
<li ><p>
C. Canton Ferrer, J.R. Casas, M. Pard&agrave;s
<br><b>Marker-based Human Motion Capture in Multi-View Sequences</b><br>
<i>EURASIP Journal on Advances on Signal Processing</i>,
2010.<br />
<a href="javascript:toggleBibtex('CantonJASP2010')">[BibTeX]</a>
<a href="https://drive.google.com/open?id=0B5fAXmGH22uZTHhJcmJwaTN3TGM" target="_blank">[PDF]</a> 
</p>
<div id="bib_CantonJASP2010" class="bibtex noshow">
<pre>@article{CantonJASP2010,
  author  = {Cristian Canton Ferrer and Josep R. Casas and Montse Pard&agrave;s},
  title   = {Marker-based Human Motion Capture in Multi-View Sequences},
  journal = {EURASIP Journal on Advances on Signal Processing},
  year = {2010}
}</pre>
</div>
</li>

<!-- JMUI 2010 -->
<li ><p>
F. Ofli, C. Canton Ferrer, J. Tilmanne, Y. Demir, E. Bozkurt, Y. Yemez, E. Erzin, A. M. Tekalp
<br><b>An Audio-Driven Dancing Avatar</b><br>
<i>EURASIP Journal on Advances on Signal Processing</i>,
2008.<br />
<a href="javascript:toggleBibtex('CantonJMUI2008')">[BibTeX]</a>
<a href="https://drive.google.com/open?id=0B5fAXmGH22uZUGp6VEVPZE1zRGc" target="_blank">[PDF]</a> 
</p>
<div id="bib_CantonJMUI2008" class="bibtex noshow">
<pre>@article{CantonJMUI2008,
  author  = {Ferda Ofli and Cristian Canton Ferrer and Joelle Tilmanne and Yasemin Demir and E. Bozkurt and Yucel Yemez and Engin Erzin and Ahmet Murat Tekalp},
  title   = {An Audio-Driven Dancing Avatar},
  journal = {Journal on Multimodal User Interfaces},
  year = {2008}
  publisher = {Springer},
  volume    = {2:2},
  year      = {2008},
  pages     = {93--103}
}</pre>
</div>
</li>
</ul>

<A NAME="booksMusic">
<h3 style="margin-bottom:0px;padding-top:10px;">Books</h3>

<ul class="biblist">

<!-- JASP 2011 -->
<li ><p>
C. Canton Ferrer, A. Ponce.
<br><b>Centenario 1910 M&eacute;xico</b><br>
<i>Music in the times of Mexico's Independence 100th Anniversary</i>,
2009.<br />
<a href="javascript:toggleBibtex('CantonCentenario1910')">[BibTeX]</a>
<a href="https://books.google.com/books?id=SXIRAgAAQBAJ&lpg=PT1&ots=fW_UfmGX5K&dq=A.C.%20Sextil%20Editores%20mexico%201910%20centenario&pg=PA1#v=onepage&q=canton&f=false" target="_blank">[PDF]</a> 
</p>
<div id="bib_CantonCentenario1910" class="bibtex noshow">
<pre>@book{book,
  author    = {Cristian Canton Ferrer and Armando Ponce }, 
  title     = {Centenario 1910 M&eacute;xico},
  publisher = {A.C. Sextil Editores},
  year      = 2009,
  isbn      = {978-607-9351-03-8}
}</pre>
</div>
</li>


