
<h3 style="margin-bottom:0px;padding-top:10px;">
<ul class="biblist">
  
<li ><p>
J. Pan, C. Canton Ferrer, K. McGuinness, N. E. O'Connor, J. Torres, E. Sayrol,<br>X. Gir&oacute;-i-Nieto
<br><b>SalGAN: Visual Saliency Prediction with Generative Adversarial Networks</b><br>
<!-- <i>Computer Vision and Pattern Recognition Conference (CVPR)</i>. Honolulu (USA), 2017.<br /> -->
<a href="javascript:toggleBibtex('PanCVPR2017')">[BibTeX]</a>
<a href="https://arxiv.org/abs/1701.01081" target="_blank">[PDF]</a>
<a href="https://github.com/imatge-upc/saliency-salgan-2017" target="_blank">[Source Code]</a> 
</p>
<div id="bib_PanCVPR2017" class="bibtex noshow">
<pre>@article{PanCVPR2017,
  author  = {Junting Pan and Cristian Canton Ferrer and Kevin McGuinness and Noel E. O'Connor and Jordi Torres and Elisa Sayrol and Xavier Giro-i-Nieto},
  title   = {SalGAN: Visual Saliency Prediction with Generative Adversarial Networks},
  year = {2017}
}</pre>
</div>
</li>

</ul>
